button.styleless.fa {
  padding: 0.93em 1.04em;
  @include medium-screen {
    padding: 0.8em 0.9em;
  }
  @include large-screen {
    padding: 0.5em 0.6em;
  }
}

a > i.fa {
  margin-right: 0.5em;
}

.light-font {
  font-weight: lighter;

  a,
  strong {
    font-weight: normal;
  }
}

nav > a {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

button.primary,
button.inverted {
    @include styleless-btn;
}

button.primary,
a.btn.primary {
    @include primary-btn;
}

button.inverted,
a.btn.inverted {
    @include primary-btn;

    background-color: $background-body-color;
    color: $action-color;
}

button.with-icon,
a.btn.with-icon {
    padding-right: 2em;

    > .fa {
        margin: -0.2em 0 0 1em;
        vertical-align: middle;
        font-size: 0.7em;

    }
}

a.btn,
a.btn:visited {
    display: inline-block;
    text-decoration: none !important;
}

.logo {
    display: inline-block;

    width: 153px;
    height: 173px;

    margin-bottom: 40px;

    $logo-location-x: -1600px;
    $logo-location-y: 0;

    @include hdpi-sprite;
    background-position: $logo-location-x $logo-location-y;
    @include hidpi {
        background-position: half-pos($logo-location-x, $logo-location-y);
    }

    @include medium-screen {
        width: 204px;
        height: 231px;

        $logo-location-x: 0;
        $logo-location-y: 0;

        background-position: $logo-location-x $logo-location-y;
    }
}
