body > footer {
    background-image: url("../images/footer_background.jpg");
    background-size: cover;
    background-position: center center;

    padding: 100px 0;

    .logo {
        margin-bottom: 0.5em;
    }

    .disclaimer {
        color: $background-body-color;
        line-height: 1.5em;
        font-size: 0.7em;
        font-weight: lighter;
        @include text-shadow;

        padding: 1em $spacer-unit-size 0;
    }
}
