#ten-principles {
    background-color: $text-color;
    color: $background-body-color;

    // `&.menu-item` required to have high-enough specificity to override default
    &.menu-item > article {
        padding-bottom: 2em;
    }

    h3 {
        @include article-title;
    }

    @include large-screen {
        background-color: $background-body-color;
        color: $text-color;

        h3 {
            margin-top: 0;
        }

        > article {
            display: flex;
            justify-content: space-between;

            font-size: $two-column-font-size;

            > section {
                width: $two-column-col-width;

                > article {
                    margin-bottom: 1.5em;
                }
            }
        }
    }
}

.no-flexbox #ten-principles {
    @include large-screen {
        > article {
            display: block;
            @include clearfix;

            > section {
                float: left;

                &:last-child {
                    float: right;
                }
            }
        }
    }
}
