#ten-principles {
    background-color: $action-color;
    color: $background-body-color;

    h2 {
        margin-bottom: 0.5em;
    }

    h3 {
        @include article-title;

        @include large-screen {
            margin-top: 0;
        }
    }

    #principles {
        @include large-screen {
            display: flex;
            justify-content: space-between;

            font-size: $two-column-font-size;

            > section {
                width: $two-column-col-width;

                > article {
                    margin-top: 1.5em;
                }
            }
        }
    }
}

.no-flexbox #principles {
    @include large-screen {
        display: block;
        @include clearfix;

        > section {
            float: left;

            &:last-child {
                float: right;
            }
        }
    }
}
